.vscode/**
.vscode-test/**
out/**
node_modules/**
build/**
src/**
tmp/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.civet
**/*.yaml
**/.vscode-test.*
